* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
    background-color: rgb(245, 245, 223);
}

.header{
    background: linear-gradient(100deg, white, rgb(61, 34, 34), rgb(182, 241, 114));
    background-image:url("C.WEB FOTOS/aceite-neutro-para-masajes-por-1-lt-D_NQ_NP_15067-MLA20094761956_052014-F.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat, repeat; */
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    left:0;
    right:0;
    text-transform: capitalize;
    width: 100%;
    height:150px;
    /* margin-bottom: 50px; */
    /* text-align: justify; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
   }

 .header a{
    padding: 10px;
    text-decoration: none;
    display: block;
    float: right;
    margin: 90px 0 0 0;
    font-size: 25px;
    color:rgb(61, 34, 34);
 }


 .header a:visited {
    background: rgb(241, 195, 163);
  }
  .header a:hover{
      background:rgb(61, 34, 34);
      text-decoration: none;
      border-radius:25px 25px 25px 25px;
      color: white;
  }
  .header a:active{
    background: white;
  }

.header > img{
vertical-align: middle;
width: 60px;
margin: 10px 0 8px 5px;
}
.myVideo{
    min-width: 100%;
    height: 770px;
    border:none;
    object-fit: cover;
}

/* } */
.main {
  padding: 80px 20px 60px 20px;
  text-align: justify;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  margin: 0 0 20px 0;

 }
 .main h6{
   text-align: center;
   font-size: 20px;
   font-family: 'Times New Roman', Times, serif;
   color: rgb(61, 34, 34);
 }

 .main > h1{
text-align: center;
   color: rgb(108, 160, 4);
 }

 @media(min-width:468px){
    .container{
    display:flex;
    /* flex-wrap:wrap; */
    justify-content:space-between;
     align-items:flex-start;
     margin-top: 80px;

      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      align-items:center;

      flex-direction:column;
      */
    }
  }
  .box{
     width: 100%;
  margin: 10px 0 40px 0;
  text-align:justify;
  font-size:15px;
  flex:0 1 calc(40% - 10em);
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  /* padding:20px; */
  }
  .box > h2{
    text-align: center;
    color: rgb(108, 160, 4);
}
 .box img {
  border-radius: 10px 25px 10px 25px;
  width: 400px;

}




/*float all the cards side by side*/
/* .column{
  float: left;
  width:25%;
  padding:10px 10px 10px 10px;
} */
/*remove extra left and righ magins due to padding*/
/* .row{
  margin:0 -5px;
} */
/* clear floats after column */
/* .row:after{
  content:"";
  display: table;
  clear:both;
} */

/* Responsive columns */
/* @media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
} */


/* .card2{
   box-shadow: 2px 2px 2px 2px;
   background-color:rgb(195, 214, 169); ;
   padding: 10px;
    width: 310px;
    height: 430px;
   text-align: justify;
   border-radius: 10px 10px 10px;
   color: rgb(61, 34, 34);

}
/*
/* Clear floats after the columns */
/* section:after {
  content: "";
  display: table;
  clear: both;
} */

/* DIVIDER */

.divider img{
 width: 100%;
height: 400px;
margin-top: 80px;
}

/* REVIEW SECTION */

.centered h2{
  margin-top: 150px;
  margin-bottom: 40px;
  color: rgb(108, 160, 4);
  text-align:center;
}
@media screen and (min-width: 40em) {
.container-2 {
   display: flex;
   flex-wrap: wrap;
flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 100px;

}
}

.item{
  flex:0 1 calc(24.5% - 1em);
   box-shadow: 2px 2px 2px 2px;
   border-radius: 25px 25px 25px 25px;
   background-color:rgb(195, 214, 169);
   padding: 5px;
    width: 410px;
    height: 440px;
   text-align: justify;
   color: rgb(61, 34, 34);
   box-sizing: border-box;
   margin: 10px 10px 10px 10px;


}
.item img{
  width: 90px;
  height: 95px;
  border-radius:50px 50px 50px 50px;
  padding: 2px 0 3px 0;
}
.item h6{
  color:white;
}

/* FOOTER */
.footer{
  width: 100%;
  height: 270px;
background:linear-gradient(to top,rgb(164, 212, 109), rgb(61, 34, 34) 15% ) ;
}
.column {
  float: left;
  width: 32.97%;
  padding: 10px 10px 55px 150px;
   /* Should be removed. Only for demonstration */
   /* background-color: teal;
   background-color: rgb(164, 212, 109); */
   color: white;
}
   .row{
     background-color: rgb(164, 212, 109);
  background-image: url("IMAGES/la-vuelta-al-mundo-en-9-spas-de-lujo-16.jpg");
  background-size: cover;
  background-position: right;
  width: 100%;
position: -webkit-sticky;
    position:sticky;
    top: 0;
    left:0;
    right:0;
}
.column h2{
 color: rgb(164, 212, 109);
 text-decoration:underline;
 margin-bottom: 10px;
}

.column a{
  color:rgb(61, 34, 34) ;
  font-size:20px;
}
.column a:active{
  color:rgb(61, 34, 34)
}
  .column a:hover{
      background-color:rgb(61, 34, 34);
      text-decoration: none;
      color: white;
}
.p{
  margin: 10px 0 3px 10px;
  color:whitesmoke;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: right;
}
.fa-instagram{
 background-color:rgb(61, 34, 34);
  border-radius: 45px 45px 45px 45px;
  margin-top: 8px;
  margin-right: 15px;
  padding:8px 10px 8px 10px;
  font-size: 35px;
  color: white !important;
}

.fa-facebook{
  background-color:rgb(61, 34, 34);
  border-radius: 45px 45px 45px 45px;
  margin-top: 10px;
  padding: 13px 15px 5px 10px;
  margin-right: 15px;
 font-size: 35px;
 color: white !important;
}
